version: "3.9"

services:

  backend:
    build: ./backend
    env_file: .env
    volumes:
      - ./backend/app:/app
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
