name: CloudOps CI/CD

on:
  push:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        service: [frontend, backend]

    steps:

    - uses: actions/checkout@v4

    - name: Login DockerHub
      run: echo "${{ secrets.DOCKER_PASS }}" | docker login -u "${{ secrets.DOCKER_USER }}" --password-stdin

    - name: Build
      run: |
        docker build -t ${{ secrets.DOCKER_USER }}/${{ matrix.service }}:latest ./${{ matrix.service }}

    - name: Push
      run: docker push ${{ secrets.DOCKER_USER }}/${{ matrix.service }}:latest


  deploy:

    needs: build
    runs-on: ubuntu-latest

    steps:

    - name: Deploy
      uses: appleboy/ssh-action@v1

      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.SSH_KEY }}

        script: |
          cd /opt/cloudops
          ./scripts/deploy.sh
